@media screen and (max-width: 600px) {
    .desktop {
        display: none !important;
    }

    .m-header {
        padding: 1em;

        .block-m {
            align-items: baseline;
        }

        .txt-align {
            text-align: end;
        }
    }

    .h-desktop {
        display: none;
    }

    .m-hero {
        width: 100%;
        height: 343px;
        display: flex;
        align-items: flex-end;
        background-image: url('../img/backmobile.png');
        padding: 0 1em;

        .call {
            // position: absolute;
            width: 100%;
            padding: 1em;
            position: relative;
            top: 111px;
            background: #FFFFFF;
            border-radius: 16px;
            // text-align: center;
            padding: 1em 2em;
            h4{
                span{
                    font-weight: 900;
                }
            }
        }
    }

    .filter-grid {
        .a {
            display: none;
        }
    }

    .navigation {
        display: none;
    }

    .testimonials {
        display: none;
    }

    .fillet {
        display: none;
    }

    .providers-grid {
        display: unset !important;
    }

    .providers {
        margin: 1em !important;
    }


    .grid-logo {
        display: unset !important;
    }

    footer {
        display: none;
    }
}
