@media screen and (max-width: 600px) {
    .desktop {
        display: none !important;
    }

    .m-header {
        padding: 1em;

        .block-m {
            align-items: baseline;
        }

        .txt-align {
            text-align: end;
        }
    }

    .h-desktop {
        display: none;
    }

    .m-hero {
        width: 100%;
        height: 343px;
        display: flex;
        align-items: flex-end;
        background-image: url('../img/backmobile.png');
        padding: 0 1em;

        .call {
            // position: absolute;
            width: 100%;
            padding: 1em;
            position: relative;
            top: 111px;
            background: #FFFFFF;
            border-radius: 16px;
            // text-align: center;
            padding: 1em 2em;

            h4 {
                span {
                    font-weight: 900;
                }
            }
        }
    }

    .filter-grid {
        .a {
            display: none;
        }
    }

    .navigation {
        display: none;
    }

    .testimonials {
        display: none;
    }

    .fillet {
        display: none;
    }

    .providers-grid {
        display: unset !important;
    }

    .providers {
        margin: 1em !important;
    }


    .grid-logo {
        display: unset !important;
    }


    .menu-mobile {
        position: fixed;
        max-width: 241px;
        width: 0%;
        height: 100vh;
        background: #F4F4F4;
        z-index: 100;
        top: 0;
        opacity: 0;
        left: 0;

        .header-menu {
            text-align: end;
            padding: 0.5em;

            button {
                background: #000000;
                color: #fff;

            }
        }

        .body-menu {
            padding: 1em 3em;

            a {
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
                /* identical to box height, or 147% */

                // text-align: center;
                letter-spacing: -0.04em;
                text-decoration: none;
                color: #000000;

            }

            .underline {
                width: 30%;
                height: 5px;
                background-color: $color-primary;
            }
        }

        .menu-footer {
            p {
                font-weight: 400;
                font-size: 11.3415px;
                line-height: 19px;
                /* or 163% */

                letter-spacing: -0.04em;

                color: #000000;
            }

            span {
                margin: 0 1em;
            }

            padding: 0 2em;
        }
    }

    .m-provider {
        padding-bottom: 8em;
    }

    .d-provider {
        display: none;
    }

    .bottom-menu {
        position: fixed;
        bottom: 15px;
        width: 100%;
        padding: 1em;
        z-index: 1000;

        a {
            text-decoration: none;
        }

        .content-m {
            background: #FFFFFF;
            box-shadow: 1px 17px 44px rgba(0, 0, 0, 0.07);
            border-radius: 25px;
            z-index: 1000;
            width: 100%;
            padding-top: 1em;
            padding-bottom: 1em;
            justify-content: space-evenly;
            align-items: center;

            p {
                font-weight: 400;
                font-size: 14.3038px;
                line-height: 14px;

                letter-spacing: -0.04em;
                margin-bottom: 0 !important;
                color: #000000;

                span {
                    font-weight: 900;
                }

            }

            .m-iten {
                // align-items: baseline;
            }
        }
    }

    .cadastro {
        padding: 0 1em !important;

        .cadastro-grid {
            grid-template-columns: 1fr !important;
        }
    }

    footer {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .m-header {
        display: none;
    }

    .menu-mobile {
        display: none;
    }

    .m-hero {
        display: none;
    }

    .m-provider {
        display: none;
    }

    .bottom-menu {
        display: none;
    }
}
