$color-primary: #F27900;
$color-secundary: #9A01CD;
$color-third: #25EE04;

p,
h6,
h4,
h4,
h3,
h2,
h1 {
    padding: 0 !important;
}

.color-primary {
    color: $color-primary;
}

@import 'partials/cadastro';
@import 'partials/lance';
@import 'responsive';
@import 'partials/acordition';


html {
    font-family: 'League Spartan', sans-serif;
    background: #F4F4F4;
    height: 100%;
    min-height: 100%;
}

body {
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.btn-one {
    width: 154px;
    height: 40.98px;
    background: $color-primary;
    border-radius: 8.99094px;
    font-weight: 900;
    font-size: 14.9849px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.btn-two {
    width: 154px;
    height: 40.98px;
    background: $color-secundary;
    border-radius: 8.99094px;
    font-weight: 900;
    font-size: 14.9849px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.btn-three {
    width: 154px;
    height: 40.98px;
    background: $color-third;
    border-radius: 8.99094px;
    font-weight: 900;
    font-size: 14.9849px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 28% 17% 20% 6% 20%);
    align-items: baseline;
    margin: 1em 0;

    a {
        text-decoration: none !important;
    }

    h4 {
        // font-family: 'Spartan';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 14px;
        margin-left: 0.6em;
        margin-top: 1em;
        text-align: center;
        letter-spacing: -0.04em;
        color: #000000;

        span {
            font-weight: 700;
        }
    }
}

.hero {
    // margin-top: 1em;
    background-image: url('../img/banner-01.png');
    height: 480px;
    width: 100%;

    .hero-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 480px;

        h1 {
            // font-family: 'Spartan';
            font-style: normal;
            font-weight: 700;
            font-size: 28.8915px;
            line-height: 29px;
            letter-spacing: -0.04em;
            color: #FFF9F9;

        }

        .text-hero {
            grid-row: 2/2;
            grid-column: 2/2;
            margin-left: 3em;
        }
    }

    .strip {
        position: relative;
        // height: 143px;
        padding: 2em 0;
        left: 0;
        bottom: 4.5em;
        background: #FFFFFF;
        border-radius: 16px;
        width: 100%;

        .strip-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            // height: 143px;
            align-items: center;
        }

        .strip-block {
            display: flex;
            padding: 0 2em;
            align-items: center;

            h5 {

                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                letter-spacing: -0.04em;
                color: #000000;
                margin-left: 1em;
            }
        }
    }
}

.filters {
    margin-top: 9em;

    .filter-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        a {
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            text-align: center;
            letter-spacing: -0.04em;
            color: #000000;
            padding: 0 1em;
            text-decoration: none;

        }

        a:hover {
            text-decoration: underline #F27900 5px;
        }

        .all {
            margin-right: 3em;

            span {
                margin: 0.5em;
                position: relative;
                top: 3px;
            }
        }

    }
}

.products {

    a {
        text-decoration: none;
    }

    .grid-columns {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-grid {
        display: grid;
        // grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        .product-body {
            width: 100%;
            height: 550px;
            margin: 1em 0;
            background: #FFFFFF;
        }

        .product-header {
            background: #E2E1E1;
            display: flex;
            justify-content: space-around;
            padding-top: 1em;
            padding-bottom: 0.5em;
        }

        .product-img {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 1em 0;

            img {
                width: clamp(80px, 226px, 100%);
            }
        }

        .product-desc {
            text-align: center;
            padding: 0 6em;

            p {
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                /* or 147% */

                text-align: center;
                letter-spacing: -0.04em;

                color: #000000;
            }

            h3 {
                font-weight: 900;
                font-size: 22.7586px;
                line-height: 33px;
                text-align: center;
                letter-spacing: -0.04em;
                color: #F27900;

            }
        }

        .product-footer {
            display: flex;
            justify-content: space-around;
            margin-top: 2em;

            h4 {
                font-style: normal;
                font-weight: 900;
                font-size: 35.6452px;
                // line-height: 36px;
                /* identical to box height, or 100% */

                letter-spacing: -0.04em;
                color: #000000;
            }

            span {
                padding: 0 14px;
                background: #C4C4C4;
                border-radius: 6px;
                margin: 0 5px;
            }
        }

        h5 {
            font-weight: 900;
            font-size: 15px;
            line-height: 15px;
            letter-spacing: -0.04em;
            color: #737272;
        }
    }
}

.testimonials {
    margin: 2em 0;

    .grid-testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left {
            display: flex;
            justify-content: space-around;
            align-items: center;

            img {
                width: clamp(50%,
                        181.75px, 100%);
            }

            .text-testimonials {
                padding: 0 4em;

                h2 {
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 36px;
                    letter-spacing: -0.04em;
                    color: #000000;

                    span {
                        font-weight: 900;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;
                    /* or 147% */

                    letter-spacing: -0.04em;

                    color: #000000;
                }


            }
        }
    }


}

.video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 349px;
    background: #9A01CD;
    border-radius: 16px;
}

.fillet {
    .fillet-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        padding-top: 3em;
        padding-bottom: 1.5em;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 16px;

        .block-fillet {
            display: flex;
            justify-content: center;

            img {
                width: 80%;
            }
        }
    }
}

.providers {
    margin: 6em;

    .providers-grid {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    h4 {
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 36px;
        letter-spacing: -0.04em;
        color: #000000;
        padding: 0 3em;

        span {
            font-weight: 900;
        }
    }

    .grid-logo {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 25px;

        .logos {
            background: #FFFFFF;
            border: 2.09406px solid #FFFFFF;
            box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.08);
            border-radius: 4.18812px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

footer {
    width: 100%;
    padding: 2em 0;
    background: #EAEAEA;

    margin-top: auto;


    .footer-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
    }

    .block-footer {
        display: flex;
        flex-direction: column;

        h2 {
            font-weight: 900;
            font-size: 20px;
            line-height: 25px;
            /* identical to box height, or 123% */

            letter-spacing: -0.04em;

            color: #737272;
        }

        a {
            font-weight: 400;
            font-size: 15px;
            line-height: 39px;
            text-decoration: none;
            letter-spacing: -0.04em;

            color: #000000;

            span {
                padding-right: 1em;
            }
        }
    }
}

.form-login {
    align-items: baseline;

    input {
        padding: 0.8em !important;
    }

    button {
        width: 100%;
    }

    p {
        font-weight: 400;
        font-size: 1.3em;
        line-height: 19px;

        letter-spacing: -0.04em;
        color: #000000;
    }

    .form-text {
        p {
            font-weight: 400;
            font-size: 14.3038px;
            line-height: 14px;
            text-align: center;
            letter-spacing: -0.04em;
            color: #000000;
        }

        a {
            font-weight: 900;
            font-size: 14.3038px;
            line-height: 14px;
            /* identical to box height, or 100% */

            text-align: center;
            letter-spacing: -0.04em;

            color: #F27900;
            text-decoration: none;
        }
    }
}


.slick-initialized .slick-slide {
    // width: 407px !important;
    margin: 0 10px !important;
}

.img-test {
    position: relative;
    top: 29px;
}

.in-products {
    margin-top: 3em !important;
}

.testimonials-text {
    h3 {
        font-weight: 900;
        font-size: 1.3em;
        line-height: 25px;
        /* identical to box height, or 125% */

        letter-spacing: -0.04em;

        color: #000000;
    }
}
.grid-price{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.buy-bid {
    background: #FFFFFF;
    border-radius: 10.8583px;
    padding: 0.7em;
    width: 100%;
    display: grid;
    place-items: center;
    // margin: 1em;
    p {
        font-weight: 400;
        font-size: 1em;
        line-height: 17px;
        color: #000000;
    }

    h2 {
        font-weight: 900;
        font-size: 1.7em;
        line-height: 37px;
        /* identical to box height */

        color: #000000;

    }
}
