.cadastro {
    padding: 0 10em;
    margin-top: 2em;
    margin-bottom: 5em;
    input{
        padding: 0.6em !important;
    }
    .check{

        margin-left: 1em;
    }
    .cadastro-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
        gap: 25px;

        h2 {
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 36px;
            /* or 143% */

            letter-spacing: -0.04em;

            color: #000000;
            span{
                font-weight: 900;
            }

        }
    }
}
